* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

button:active:not([type=submit]) {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

input {
}


.btn {
    font-size: 1.2em;
    color: white;
    padding: 5px 10px;
    background-color: Black;
    border: 1px solid Black;
}

.bold-text {
    font-weight: 500;
}

.map-area {
    height: 600px;
    border-radius: 2px;
}

.fa-map-marker,
.fa-thermometer-empty {
    color: #5203e6;
}

.logo-link {
    font-family: sans-serif;
    font-size: 1.5em;
    color: white;
}

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: "header" "main" "footer";
}

.main {
    grid-area: main;
    display: grid;
    grid-gap: 8px;
    grid-template-areas: "loc-info map-info" " weather-info map-info";
    grid-template-columns: 300px 1fr;
}

header {
    grid-area: header;
}

header,
footer {
    background-color: black;
    text-align: center;
}

/* Cards */

.loc-info,
.weather-info,
.map-info {
    background-color: White;
}

.loc-info {
    grid-area: loc-info;
    padding: 10px;
}

.map-info {
    grid-area: map-info;
}

.map-info>* {
    margin: 10px;
}

.controls>* {
    display: inline-block;
}

.btn-curr-loc {
    margin: 0 20px;
}

form {
    position: relative;
    grid-area: form;
    width: 40%;
}

form>* {
    font-size: 1.2em;
}

form input.search-input {
    width: 100%;
}

form button {
    position: absolute;
    top: 0;
    right: 0;
}

footer {
    grid-area: footer;
    padding: 10px;
}

footer>p {
    display: inline;
    color: white;
    font-size: 1.3em;
}

footer input.url-input {
    width: 400px;
    font-size: 1em;
}

.btn-copy-url {
    border: 1px white solid;
    font-size: 1em;
}