* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

h1 {
    font-size: 1.5rem;
    padding: 10px;
}

button {
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
}

.btn {
    font-size: 1em;
    color: white;
    padding: 5px 10px;
    background-color: Black;
    border: 1px solid Black;
}

.logo-link {
    font-family: sans-serif;
    font-size: 1.5em;
    color: white;
}

header,
footer {
    background-color: black;
    text-align: center;
}
.loc-info {
    grid-area: loc-info;
    padding: 10px;
}

.map-info>* {
    margin: 10px;
}

.controls>* {
    display: inline-block;
}

form {
    position: relative;
    width: 30%;
}

form>* {
    font-size: 1.2em;
}

form input.search-input {
    width: 100%;
}

form button {
    position: absolute;
    top: 0;
    right: 0;
}

footer {
    padding: 10px;
}

.btn-copy-url {
    border: 1px white solid;
    font-size: 1em;
}